@model Usuario

@{
    ViewData["Title"] = "Registro de usuario";
}

<h1>Registro de usuarios</h1>
<form method="post" class="form-floating">
    <div class="form-group">
        <label asp-for="NombreUsuario"></label>
        <input class="form-control" asp-for="NombreUsuario" />
    </div>
    <div class="form-group">
        <label asp-for="ApellidoUsuario"></label>
        <input class="form-control" asp-for="ApellidoUsuario" />
    </div>
    <div class="form-group">
        <label asp-for="EdadUsuario"></label>
        <input class="form-control" asp-for="EdadUsuario" />
    </div>
    <div class="form-group">
        <label asp-for="DireccionUsuario"></label>
        <input class="form-control" asp-for="DireccionUsuario" />
    </div>
    <div class="form-group">
        <label asp-for="CorreoUsuario"></label>
        <input class="form-control" asp-for="CorreoUsuario" />
    </div>
    <div class="form-group">
        <label asp-for="TelefonoUsuario"></label>
        <input class="form-control" asp-for="TelefonoUsuario" />
    </div>
    <div class="form-group">
        <label asp-for="ContrasenaUsuario"></label>
        <input class="form-control" asp-for="ContrasenaUsuario" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Registrar</button>
    </div>
</form>