@model ProyectoIntegrador.Models.Pago

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MontoPago" class="control-label"></label>
                <input asp-for="MontoPago" class="form-control" />
                <span asp-validation-for="MontoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPago" class="control-label"></label>
                <input asp-for="FechaPago" class="form-control" />
                <span asp-validation-for="FechaPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraPago" class="control-label"></label>
                <input asp-for="HoraPago" class="form-control" />
                <span asp-validation-for="HoraPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPago" class="control-label"></label>
                <input asp-for="TotalPago" class="form-control" />
                <span asp-validation-for="TotalPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdReserva" class="control-label"></label>
                <select asp-for="IdReserva" class ="form-control" asp-items="ViewBag.IdReserva"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoPago" class="control-label"></label>
                <select asp-for="IdTipoPago" class ="form-control" asp-items="ViewBag.IdTipoPago"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
